
.main-search-modal {
  z-index: 1000!important;
}
.mmi-video-modal {
  z-index: 0;
}
#focusManager {
  visibility: hidden;
}
.play-replay-icon button {
  outline: 3px solid red;
}
.outer {
  height: 100%;
  overflow-y: scroll;
 // overflow-x: hidden;
  .closeBtnContainer {
    position: fixed;
    left: 77%;
    top: 26px;
    z-index: 3;
    .closeBtn {
      display: inline-block;
    }
    span.esc {
      font-size: 10px;
      color: #808080;
    }
  }
}
.searchPanelContainer {
  width: 100%;
  .searchPanelWrapper {
    position: relative; 
    display: flex; 
    width: 80%;
    background-color: #fff;
    margin: 0 auto;
    .searchResultContainer {
      em {
        font-weight: bold;
      }
     span.spanElasticScore {
       color: #c200c2;
       margin: 0 0 0 4px;
       font-family: 'Helvetica Neue', Helvetica, sans-serif;
       font-size: .6em;
       font-weight:normal;
       line-height: 0;
       letter-spacing: 0em;
     }
      .title {
        display: inline;
      }
      .hide {
        display: none;
      }
      .showMore {
        font-size: 13px;
        color: #808080;
        cursor: pointer;
        margin-bottom: 20px;
        text-transform: uppercase;
      }
    }
  }
  .resCard { 
    font-size: 16px;
    a {
      display: block;
      text-decoration: none;
      p {
        margin-bottom: 3px; 
      }
      .imageWrap {
        position: relative;
        max-width: 120px;
        max-height: 90px;
      }
    }
    .playIcon {
      position: absolute;
      width: 30px;
      margin-top: 27%;
      left: 38%;
    }
    &.chapterRes,
    &.loRes {
      color: #000;
      margin: 0 0 1em 0;
      font-family: 'Helvetica Neue', Helvetica, sans-serif;
      font-size: 1em;
      font-weight: normal;
      line-height: 1.5em;
      letter-spacing: 0.01em;
    }
    &.moreRes {
      .title {
        color: #9d9d9d;
        margin: 0 0 .1em 0;
        font-family: 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 1.2em;
        font-weight: 400;
        line-height: 1em;
        letter-spacing: 0.07em;
      }
      .desc {
        color: #000;
        margin: 0 0 2em 0;
        font-family: 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 1em;
        font-weight: normal;
        line-height: 1.5em;
        letter-spacing: 0.01em;
      }
    }
    &.figureRes,
     &.videoRes {
      .title {
        color: #000;
        margin: 0 0 0 0;
        font-family: 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 1em;
        font-weight: normal;
        line-height: 1.5em;
        letter-spacing: 0.01em;
      }
      .desc {
        color: #505759;
        font-family: Helvetica, sans-serif;
        max-width: 680px;
        width: auto;
        margin-top: 0;
        margin-bottom: 0.5em;
        padding: 0;
        font-size: 1em;
        font-weight: 100;
        line-height: 1.5em;
        letter-spacing: 0.03em;
      }
      margin-bottom: 2.5em;
    }
    &.videoRes {
      .videoWrap {
      //  position: relative;
      }
    }
  }
  .wrap {
   // text-align: left;
    background: #fff;
    min-height: 100vh;
    .took {
      font-size: 12px;
      color: #808080;
      margin-top: 5px;
    }
  }
  h4 {
    text-transform: uppercase;
    color: #868686;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 0.6em;
    font-weight: 400;
    line-height: 1.5em;
    margin-right: 1.75em;
    margin-bottom: 1.5em;
    letter-spacing: 0.01em;
    margin-top: 20px;
  }
  .primaryWrap {
    width: 59%; 
    .primary {
      padding: 0 40px;
      .searchWrap { 
        height: 65px;
        width: 75%;
        left: 10%;
        padding-left: 25px;
        position: fixed;
        top: 0;
        padding-top: 25px;
        background: #fff;
        z-index: 3;
        .SearchinputBar {
          position: fixed;
          width: 46%;
        }
        .took {
          position: absolute;
          font-size: 12px;
          color: #808080;
          top: 58px;
        }
        .SearchinputBar {
          clear: both;
          input {
            border-radius: 20px;
          }
        }
      }
      .msgContainer {
        margin-top: 25px;
      }
      .searchResultContainer { //outline: 1px solid red;
        margin-top: 100px;
      }
    }
  }
  .secondaryWrap {
    width: 33%; 
    .secondary { // outline: 1px solid red;
      .flex {
        margin-top: 64px;
      }
      .resContainer {
        background-color: #FFFFFF;
        max-width: 430px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0em;
        margin-top: 0em;
        margin-bottom: 40px;
        border-top: 1px solid #E6E6E6;
      }
      .searchGlossaryterm {
        display: inline-block;
      }
      .searchGlossaryterm,
      .searchGlossaryDef {
        color: #000;
        font-family: 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 1em;
        font-weight: normal;
        line-height: 1.5em;
        letter-spacing: 0.01em;
      }
      .searchGlossaryDef {
        margin: 0 0 2em 0;
      }
      .searchResultContainer {
        margin-top: 100px;
      }
      .wikiResults {
        a {
          display: inline;
        }
        color: #000;
        margin: 0 0 0 0;
        font-family: 'Helvetica Neue', Helvetica, sans-serif;
        font-size: .9em;
        line-height: 1.2em;
        letter-spacing: 0.01em;
        margin-bottom: 1em;
        .wikiLink {
          color: #007FA3;
          font-family: Helvetica, sans-serif;
          text-decoration: underline;
        }
      }
      .youtubeResults {
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        .youtubeText {
          padding-left: 10px;
        }
        .title {
          color: #000;
          margin: 0 0 0 0;
          font-family: 'Helvetica Neue', Helvetica, sans-serif;
          font-size: .8em;
          font-weight: 500;
          line-height: 1.25em;
          letter-spacing: 0.01em;
        }
        .desc {
          color: #b5b5b5;
          margin: 0 0 0 0;
          font-family: 'Helvetica Neue', Helvetica, sans-serif;
          font-size: .9em;
          font-weight: normal;
          line-height: 1em;
          letter-spacing: 0.01em;
        }
      }
    }
  }
}

.searchContentSelect {
  min-width: 150px;
}
.imgThumb,
.imageContainer {
  max-width: 240px;
  width: 100%;
  margin-top: 0;
  // margin-left: auto;
  // margin-right: auto;
  object-fit: cover;
  display: block;
}
.video-embedded-container {
  max-width: 280px;
}
.flex {
  height: 20px;
  margin-bottom: 20px;
  display: flex;
  .empty-bar1 {
    background-color: #dedede;
    width: 96px;
    height: 5px;
  }
  .empty-bar2 {
    background-color: #dedede;
    width: 46px;
    height: 5px;
    margin-left: 5px;
  }
}


@media only screen and (max-width: 780px) { 
  .searchPanelWrapper {
    display: flex;
    flex-direction: column;
    .wrap {
      width: 100%;
    }
    .primaryWrap{
      .primary {
        .searchWrap {
          width: 74%;
        }
      }
    }
    .secondaryWrap{
      .secondary {
        .searchResultContainer {
          margin-top: 10px;
        }
      }
    }
    .closeBtnContainer {
      left: 64%;
      top: 30px;
      span.esc {
        display: none;
      }
    }
  }
} 

@media only screen and (max-width: 680px) { 
  .searchPanelWrapper {
    display: flex;
    flex-direction: column;
    .wrap {
      width: 100%;
    }
    .primaryWrap{
      .primary { 
        .searchWrap {
          width: 72%;
        }
      }
    }
    .secondaryWrap{
      .secondary {
        .searchResultContainer {
          margin-top: 10px;
        }
      }
    }
    .closeBtnContainer {
      left: 64%;
      top: 30px;
      span.esc {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 480px) { 
  .searchPanelWrapper {
    display: flex;
    flex-direction: column;
    .wrap {
      width: 100%;
    }
    .primaryWrap{
      .primary {
        .searchWrap {
          width: 70%;
        }
      }
    }
    .secondaryWrap{
      .secondary {
        .searchResultContainer {
          margin-top: 10px;
        }
      }
    }
    .closeBtnContainer {
      left: 66%;
      top: 30px;
      span.esc {
        display: none;
      }
    }
  }
}

