
.outer {
  height: 100%;
  overflow-y: scroll;
}
.searchPanelContainer {
  display: flex; 
  justify-content: center;
  width: 100%;
  text-align: center;
  .resCard {
      padding-bottom: 20px;
    }
  .primaryWrap {outline: 1px solid;width: 50%; text-align: left; background: #fff; padding: 30px; min-height: 100vh;
    .primary {
      padding: 0 25px;
    }
  }
  .secondaryWrap {outline: 1px solid;width: 29%; margin-left:5px; text-align: left; padding: 30px; background: #fff;
    .secondary {
      padding: 0 25px;
    }
  }
}

/*
.search-container {
  margin-top: 100px;
  button {
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .3);
  }
}
.searchPanelContainer {display: table; 
  margin: 0 100px;
  height: 100%;
  min-height: 700px;
  justify-content: center;
  // overflow-y: scroll;
  .searchPanel {display: table-cell;
    // height: 100%;
    position: relative;
    padding: 30px;
   // overflow-y: scroll;
    .searchResultContainer {
      height: 100%;
      margin-top: 50px;
    }
    .SearchinputBar {
      clear: both;
      // padding: 12px 16px 12px 16px;
      input {
        border-radius: 20px;
      }
    }
    .took {
      position: absolute;
      top: 68px;
      font-size: 12px;
      color: #808080;
    }
    .resCard {
      padding-bottom: 20px;
    }
    &.primary {width: 50%;
      height: 100%;
      border-right: 1px solid #dedede;
      #bootstrap-input {
        border-radius: 80px;
      }
      .emptyContainer {
        margin-top: 30px;
        &.primaryEmpty {
          .emptyMsg {
            text-align: center;
          }
        }
      }
    }*/
    .flex {
      height: 20px;
      margin-bottom: 20px;
      display: flex;
      .empty-bar1 {
        background-color: #dedede;
        width: 96px;
        height: 5px;
      }
      .empty-bar2 {
        background-color: #dedede;
        width: 46px;
        height: 5px;
        margin-left: 5px;
      }
    }/*
    &.secondary {width: 30%;
      height: 100%;
      border-left: 1px solid #dedede;
      .searchResultContainer {
        padding-top: 12px;
      }
      .flex {
        margin-top: 64px;
      }
      .closeBtn {
        text-align: right;
      }
      .searchGlossaryDef {
        padding: 3px 0 20px 0;
      }
    }
  }
  .closeBtnContainer {
    position: absolute;
    left: 80%;
    top: 26px;
    .closeBtn {
      display: inline-block;
    }
    span.esc {
      font-size: 10px;
      color: #808080;
    }
  }
}
*/

@media only screen and (max-width: 1000px) {
  /*.searchPanelContainer {
    .searchPanel {
      &.primary {
        width: 100%;
      }
      &.secondary {
        display: none;
      }
    }
    .closeBtnContainer {
      left: 58%;
      top: 27px;
      span.esc {
        display: none;
      }
    }
  }*/
}
